<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/urls">My URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/urls/new">Create New URL</a>
          </li>
        </ul>
        <% if (user) { %>
          <div class="ml-auto">
            Logged In as: <%= user.email %>
              <form action="/logout" method="post" class="form-inline d-inline">
                <button type="submit" class="btn btn-primary">Logout</button>
              </form>
          </div>
          <% } else { %>
            <div class="ml-auto">
              <a href="/login" class="btn btn-primary">Login</a>
              <a href="/register" class="btn btn-outline-primary">Register</a>
            </div>
            <% } %>

      </div>
    </div>
  </nav>
</header>